@import url(http://fonts.googleapis.com/css?family=Open%20Sans:300,400,500,600,700);

body, html {
	width: 100%; 
	height: 150px; 
	background-size: 100%;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	color:#a3a3a3;
	background-repeat: no-repeat;
	background-image: url(../../img/bg2.jpg);
}

h1 {
	font-size: 24px;
	color: #fff;
	letter-spacing:-2px;
	font-weight:600;
}

@media only screen and (max-width: 767px) {
    h1 {
        font-size: 20px;
    }
}

@media only screen and (max-width: 575px) {
    h1 {
        font-size: 20px;
    }
}

h2 {
	font-size: 13px;
	color: #c1c1c1;
	font-weight:700;
	letter-spacing:3px;
	text-transform:uppercase;
}
p {
	font-size: 14px;
	line-height: 22.4px;
	color: #6c7279;
}
.text-center {
	text-align:center;
}
.red {
	color:#ff4c34;
}

/* ------------------------------------------------------------------------------
	Pre Loader Style
-------------------------------------------------------------------------------*/
.js div#preloader {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 999;
	width: 100%;
	height: 100%;
	overflow: visible;
	background: #161618 url('../../img/loader.GIF') no-repeat center center;
}


/* ------------------------------------------------------------------------------
	Access Box Style
-------------------------------------------------------------------------------*/
#accessbox {
	max-width: 55%;
	background-color: rgba(0, 0, 0, 0.5);
	border: rgba(255, 255, 255, 1) 12px solid;
	padding: 5%;
	margin: 10% auto;
	-moz-animation-delay: 1s;
	-o-animation-delay: 1s;
	-webkit-animation-delay: 1s;
}

@media only screen and (max-width: 767px) {
    #accessbox {
        max-width: 90%;
    }
}

@media only screen and (max-width: 575px) {
    #accessbox {
        max-width: 90%;
    }
}

.profile-img {
	margin: 0 auto 25px;
	display: block;
}
.access-form {
	margin-top:5%;
}
.access-input {
	width: 20%;
	background: #000;
	color: #fff;
	padding: 1% 2%;
	text-align: center;
	margin: 1%;
	border: #f4f3f3 2px solid;
	font-size: 27px;
}

@media only screen and (max-width: 767px) {
    .access-input {
        font-size: 20px;
		margin: 0.5%;
    }
}

@media only screen and (max-width: 575px) {
    .access-input {
        font-size: 20px;
		margin: 0.5%;
    }
}

.access-input-lg {
	width: 28%;
	background: #000;
	color: #fff;
	padding: 1% 2%;
	text-align: center;
	margin: 1%;
	border: #f4f3f3 2px solid;
	font-size: 27px;
}

@media only screen and (max-width: 767px) {
    .access-input-lg {
        font-size: 20px;
		margin: 0.5%;
    }
}

@media only screen and (max-width: 575px) {
    .access-input-lg {
        font-size: 20px;
		margin: 0.5%;
    }
}
.access-btn {
	width: 20%;
	background: #5fa77f;
	color: #fff;
	padding: 1% 2%;
	text-align: center;
	margin: 1%;
	border: #5fa77f 2px solid;
	font-size: 27px;
}

@media only screen and (max-width: 767px) {
    .access-btn {
        font-size: 20px;
		margin: 0.5%;
    }
}

@media only screen and (max-width: 575px) {
    .access-btn {
        font-size: 20px;
		margin: 0.5%;
    }
}

.access-btn-back {
	width: 22%;
	background: #5fa77f;
	color: #fff;
	padding: 1% 2%;
	text-align: center;
	margin: 1%;
	border: #5fa77f 2px solid;
	font-size: 27px;
	justify-content: center;
    display: flex;
    margin: auto;
    margin-top: inherit;
}

@media only screen and (max-width: 767px) {
    .access-btn-back {
		width: 30%;
        font-size: 20px;
		margin: 0.5%;
    }
}

@media only screen and (max-width: 575px) {
    .access-btn-back {
		width: 30%;
        font-size: 20px;
		margin: 0.5%;
    }
}

.access-btn:hover, .access-btn:focus {
	background-color: #333333;
	border: #333333 2px solid;
	color: #fff;
}